header {
    .atas {
        .container {
            .kanan {
                a {
                    font-size: 14.5px;
                    color: rgb(163, 159, 159);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        .atas {
            .container {
                .kanan {
                    a {
                        display: none;
                    }
                }
            }
        }
    }
}